## Author: Tianheng Zhou

# 1. Read Data from S3 Bucket

In [1]:
from sagemaker import get_execution_role
role = get_execution_role()

#Bucket and Folder
bucket = 'project-b-data'
subfolder = 'proj-b/dataset-b01'

In [2]:
import boto3
conn = boto3.client('s3')
contents = conn.list_objects(Bucket=bucket, Prefix=subfolder)['Contents']
#Data Set Name
for i in range(5):
    print(contents[i]['Key'])

proj-b/dataset-b01/README.txt
proj-b/dataset-b01/Tst2022-01-04LOBs.txt
proj-b/dataset-b01/Tst2022-01-04tapes.csv
proj-b/dataset-b01/Tst2022-01-05LOBs.txt
proj-b/dataset-b01/Tst2022-01-05tapes.csv

## 1.1 Read all the csv data

In [3]:
#Generate String Date
import pandas as pd
date_list = pd.date_range(start = "2022-01-04",end = "2022-04-29").tolist()
exact_date = [str(i)[0:10] for i in date_list]   #2022-01-04 format"
print(exact_date[:5])

['2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08']

In [4]:
#Read the dataset of tapes.csv file

import time
tape_csv = []

total_time = 0
for the_date in exact_date:
    t1 = time.time()
    tape_from_s3 = 's3://{}/{}'.format(bucket,subfolder+'/Tst'+the_date+'tapes.csv')

    try: 
        tape_csv.append(pd.DataFrame(pd.read_csv(tape_from_s3,header = None)))
    except:
        continue
    t2 = time.time()
    total_time += t2 - t1
    print('The {} is finished. Elapsed time is {} seconds.'.format(the_date,t2-t1))

print("Total .csv file Read time: {}".format(total_time))

The 2022-01-04 is finished. Elapsed time is 1.6339831352233887 seconds.
The 2022-01-05 is finished. Elapsed time is 0.5036125183105469 seconds.
The 2022-01-06 is finished. Elapsed time is 0.6255755424499512 seconds.
The 2022-01-07 is finished. Elapsed time is 0.48229074478149414 seconds.
The 2022-01-10 is finished. Elapsed time is 0.5079731941223145 seconds.
The 2022-01-11 is finished. Elapsed time is 0.5332159996032715 seconds.
The 2022-01-12 is finished. Elapsed time is 0.5182175636291504 seconds.
The 2022-01-13 is finished. Elapsed time is 0.5416808128356934 seconds.
The 2022-01-14 is finished. Elapsed time is 0.5518534183502197 seconds.
The 2022-01-17 is finished. Elapsed time is 0.48590850830078125 seconds.
The 2022-01-18 is finished. Elapsed time is 0.48256516456604004 seconds.
The 2022-01-19 is finished. Elapsed time is 0.5489239692687988 seconds.
The 2022-01-20 is finished. Elapsed time is 0.6964015960693359 seconds.
The 2022-01-21 is finished. Elapsed time is 0.5819752216339111 seconds.
The 2022-01-24 is finished. Elapsed time is 0.6910839080810547 seconds.
The 2022-01-25 is finished. Elapsed time is 0.5437042713165283 seconds.
The 2022-01-26 is finished. Elapsed time is 0.6584484577178955 seconds.
The 2022-01-27 is finished. Elapsed time is 0.8869912624359131 seconds.
The 2022-01-28 is finished. Elapsed time is 0.5722377300262451 seconds.
The 2022-01-31 is finished. Elapsed time is 0.528278112411499 seconds.
The 2022-02-01 is finished. Elapsed time is 0.5917580127716064 seconds.
The 2022-02-02 is finished. Elapsed time is 0.6732778549194336 seconds.
The 2022-02-03 is finished. Elapsed time is 0.4194965362548828 seconds.
The 2022-02-04 is finished. Elapsed time is 0.4929840564727783 seconds.
The 2022-02-07 is finished. Elapsed time is 0.5111677646636963 seconds.
The 2022-02-08 is finished. Elapsed time is 0.5423798561096191 seconds.
The 2022-02-09 is finished. Elapsed time is 0.4838106632232666 seconds.
The 2022-02-10 is finished. Elapsed time is 0.388338565826416 seconds.
The 2022-02-11 is finished. Elapsed time is 1.0242562294006348 seconds.
The 2022-02-14 is finished. Elapsed time is 0.5450265407562256 seconds.
The 2022-02-15 is finished. Elapsed time is 0.502173900604248 seconds.
The 2022-02-16 is finished. Elapsed time is 0.6202390193939209 seconds.
The 2022-02-17 is finished. Elapsed time is 0.622248649597168 seconds.
The 2022-02-18 is finished. Elapsed time is 0.49881911277770996 seconds.
The 2022-02-21 is finished. Elapsed time is 0.5219550132751465 seconds.
The 2022-02-22 is finished. Elapsed time is 0.5889577865600586 seconds.
The 2022-02-23 is finished. Elapsed time is 0.8634579181671143 seconds.
The 2022-02-24 is finished. Elapsed time is 0.9414360523223877 seconds.
The 2022-02-25 is finished. Elapsed time is 0.6919302940368652 seconds.
The 2022-03-01 is finished. Elapsed time is 0.9134249687194824 seconds.
The 2022-03-02 is finished. Elapsed time is 0.7181696891784668 seconds.
The 2022-03-03 is finished. Elapsed time is 1.0013225078582764 seconds.
The 2022-03-04 is finished. Elapsed time is 0.802269697189331 seconds.
The 2022-03-07 is finished. Elapsed time is 0.7502334117889404 seconds.
The 2022-03-08 is finished. Elapsed time is 0.42347073554992676 seconds.
The 2022-03-09 is finished. Elapsed time is 0.4841139316558838 seconds.
The 2022-03-10 is finished. Elapsed time is 0.483950138092041 seconds.
The 2022-03-11 is finished. Elapsed time is 0.6022834777832031 seconds.
The 2022-03-14 is finished. Elapsed time is 0.5200068950653076 seconds.
The 2022-03-15 is finished. Elapsed time is 0.584885835647583 seconds.
The 2022-03-16 is finished. Elapsed time is 0.5483376979827881 seconds.
The 2022-03-17 is finished. Elapsed time is 0.6061620712280273 seconds.
The 2022-03-18 is finished. Elapsed time is 0.5556464195251465 seconds.
The 2022-03-21 is finished. Elapsed time is 0.4766364097595215 seconds.
The 2022-03-22 is finished. Elapsed time is 0.5627617835998535 seconds.
The 2022-03-23 is finished. Elapsed time is 0.5851869583129883 seconds.
The 2022-03-24 is finished. Elapsed time is 0.49189305305480957 seconds.
The 2022-03-25 is finished. Elapsed time is 0.5124373435974121 seconds.
The 2022-03-28 is finished. Elapsed time is 0.6597006320953369 seconds.
The 2022-03-29 is finished. Elapsed time is 0.7348740100860596 seconds.
The 2022-03-30 is finished. Elapsed time is 0.5240767002105713 seconds.
The 2022-03-31 is finished. Elapsed time is 0.5126402378082275 seconds.
The 2022-04-01 is finished. Elapsed time is 0.44806814193725586 seconds.
The 2022-04-04 is finished. Elapsed time is 0.44754981994628906 seconds.
The 2022-04-05 is finished. Elapsed time is 0.5079288482666016 seconds.
The 2022-04-06 is finished. Elapsed time is 0.5761187076568604 seconds.
The 2022-04-07 is finished. Elapsed time is 0.5432853698730469 seconds.
The 2022-04-08 is finished. Elapsed time is 0.48224520683288574 seconds.
The 2022-04-11 is finished. Elapsed time is 0.46904468536376953 seconds.
The 2022-04-12 is finished. Elapsed time is 0.5200374126434326 seconds.
The 2022-04-13 is finished. Elapsed time is 0.43714427947998047 seconds.
The 2022-04-14 is finished. Elapsed time is 0.5824308395385742 seconds.
The 2022-04-19 is finished. Elapsed time is 0.5411617755889893 seconds.
The 2022-04-20 is finished. Elapsed time is 0.5794992446899414 seconds.
The 2022-04-21 is finished. Elapsed time is 0.5402553081512451 seconds.
The 2022-04-22 is finished. Elapsed time is 0.5060758590698242 seconds.
The 2022-04-25 is finished. Elapsed time is 0.5830729007720947 seconds.
The 2022-04-26 is finished. Elapsed time is 0.5230011940002441 seconds.
The 2022-04-27 is finished. Elapsed time is 0.5141286849975586 seconds.
The 2022-04-28 is finished. Elapsed time is 0.6460168361663818 seconds.
The 2022-04-29 is finished. Elapsed time is 0.4489927291870117 seconds.
Total .csv file Read time: 48.049177408218384

In [5]:
#Concatenate all the csv file into one data frame 
full_csv_frame = pd.concat(tape_csv)
print("There are {} rows and {} columns of the full csv frame.".format(full_csv_frame.shape[0],full_csv_frame.shape[1]))
print(full_csv_frame[:5])

There are 5230364 rows and 11 columns of the full csv frame.
              0          1       2    3                        4   \
0  Tst2022-01-04   Exch0Lit   8.192  203   {'pool_id': 'Exch0Lit'
1  Tst2022-01-04   Exch0Lit   8.192  199   {'pool_id': 'Exch0Lit'
2  Tst2022-01-04   Exch0Lit  10.336  196   {'pool_id': 'Exch0Lit'
3  Tst2022-01-04   Exch0Lit  10.672  196   {'pool_id': 'Exch0Lit'
4  Tst2022-01-04   Exch0Lit  11.040  201   {'pool_id': 'Exch0Lit'

                 5                6              7          8   \
0   'type': 'Trade'    'time': 8.192   'price': 203   'qty': 2
1   'type': 'Trade'    'time': 8.192   'price': 199   'qty': 3
2   'type': 'Trade'   'time': 10.336   'price': 196   'qty': 3
3   'type': 'Trade'   'time': 10.672   'price': 196   'qty': 4
4   'type': 'Trade'    'time': 11.04   'price': 201   'qty': 1

                 9                  10
0   'party1': 'S26'   'party2': 'B24'}
1   'party1': 'S26'   'party2': 'B08'}
2   'party1': 'S06'   'party2': 'B07'}
3   'party1': 'S01'   'party2': 'B01'}
4   'party1': 'S12'   'party2': 'B31'}

## 1.2 Read all the LOB data

In [6]:
!pip install smart_open
!pip install ijson

import ijson
import json
import re

import smart_open as sm
#help(sm)

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: smart_open in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (5.2.1)
Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: ijson in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (3.1.4)

### 1.2.1 Read the Example LOB data
#### 1.2.1.1 Read the Example LOB set to see the data format.
Below is some methods that **I didn't adopt.**

In [7]:
with sm.open('Example.txt',"r",encoding='utf-8') as f:
    example_data = f.read()
print(example_data)

[
    "time",
    0.0,
    [
        "bid",
        []
    ],
    [
        "ask",
        []
    ]
]
[
    "time",
    0.016,
    [
        "bid",
        []
    ],
    [
        "ask",
        []
    ]
]
[
    "time",
    0.528,
    [
        "bid",
        [
            [
                27,
                3
            ]
        ]
    ],
    [
        "ask",
        []
    ]
]

1) Here is the way that I try to use regular expression to get the data frame of the LOB file. But the re.sub() function would have **Memory Error** if we use the full LOB file, so this way is not plausible.

In [8]:
#1. Change the file into a readable list
import ast
example_data1 = example_data.replace(']\n[',',')
example_data2 = re.sub(" ","",example_data1)
example_data3 = re.sub("\n","",example_data2)
example_data4 = re.sub(r"\s+","",example_data3)
example_data5 = re.sub('"time",','',example_data4)
example_data6 = re.sub('"bid",','',example_data5)
example_data7 = re.sub('"ask",','',example_data6)

#safely convert the nested list in string to list
example_data8 = ast.literal_eval(example_data7)  
print("List of LOB: ",example_data8)
print("Type of the Number: ",type(example_data8[0]))
print("----------------------------------------------")


#2. Extract the features in the list
example_time = []
example_bid = []
example_ask = []

for i,item in enumerate(example_data8):
    #time
    if i % 3 == 0:
        example_time.append(item)
    #bid
    elif i % 3 == 1:
        try:
            example_bid.append((item[0][0][0],item[0][0][1]))
        except:
            example_bid.append(float('nan'))
    elif i % 3 == 2 :
        try:
            example_ask.append((item[0][0][0],item[0][0][1]))
        except:
            example_ask.append(float('nan'))

example_df = pd.DataFrame([example_time,example_bid,example_ask]).T
example_df = example_df.rename(columns={0: 'Time', 1: 'Bid',2: 'Ask'})
print(example_df)

List of LOB:  [0.0, [[]], [[]], 0.016, [[]], [[]], 0.528, [[[27, 3]]], [[]]]
Type of the Number:  <class 'float'>
----------------------------------------------
    Time      Bid  Ask
0      0      NaN  NaN
1  0.016      NaN  NaN
2  0.528  (27, 3)  NaN

In [9]:
def Read_LOB_file(source):
    """
    source: S3 Bucket file address
    
    """
    t1 = time.time()
    with sm.smart_open(source,encoding='utf-8',buffering = 10000000) as f:
        LOB_data = f.read()
    f.close()
        
    LOB_data1 = LOB_data.replace(']\n[',',')
    LOB_data2 = re.sub(" ","",LOB_data1)
    LOB_data3 = re.sub("\n","",LOB_data2)
    LOB_data4 = re.sub(r"\s+","",LOB_data3)
    LOB_data5 = re.sub('"time",','',LOB_data4)
    LOB_data6 = re.sub('"bid",','',LOB_data5)
    LOB_data7 = re.sub('"ask",','',LOB_data6)

    #safely convert the nested list in string to list
    LOB_data8 = ast.literal_eval(LOB_data7)  
    t2 = time.time()
    
    print(f"Read LOB file {source} finish, the elapsed time is {t2-t1} seconds.")
    return LOB_data8

def Create_LOB_Dataframe(LOB_data,file_date):
    """
    LOB_data: The return value(list) from Read_LOB_file
    file_date: The date of the LOB file
    
    """
    t1 = time.time()
    the_time = []
    bid = []
    ask = []
    date = []
    
    for i,item in enumerate(LOB_data):
        #time
        if i % 3 == 0:
            the_time.append(item)
        #bid
        elif i % 3 == 1:
            try:
                bid.append((item[0][0][0],item[0][0][1]))
            except:
                bid.append(float('nan'))
        #ask
        elif i % 3 == 2 :
            try:
                ask.append((item[0][0][0],item[0][0][1]))
            except:
                ask.append(float('nan'))
                
    date.append(file_date)
    date = date * len(the_time)
    
    df = pd.DataFrame([date,the_time,bid,ask]).T
    df = df.rename(columns={0: 'Date',1: 'Time', 2: 'Bid',3: 'Ask'})
    t2 = time.time()
    
    print(f"Create {file_date} LOB dataframe finish, the elapsed time is {t2-t1}.")
    return df

print(Create_LOB_Dataframe(Read_LOB_file(
    'Example.txt'),'2022-01-04'))

Read LOB file Example.txt finish, the elapsed time is 0.0006747245788574219 seconds.
Create 2022-01-04 LOB dataframe finish, the elapsed time is 0.002728700637817383.
         Date   Time      Bid  Ask
0  2022-01-04      0      NaN  NaN
1  2022-01-04  0.016      NaN  NaN
2  2022-01-04  0.528  (27, 3)  NaN

2) Here is the previous try of reading the LOB data using ijson package, but I failed because changing the large LOB file into a standard json format will also cause **Memory Error**. .

In [10]:
# ijson.parse??
# def parse_json(json_filename):
#     with smart_open(json_filename, 'rb') as input_file:
#         # load json iteratively
#         parser = ijson.parse(input_file,multiple_values=True)
#         for prefix, event, value in parser:
#             print(value)
# parse_json(example_data4)

3) Here is the way I think I can directly use regular expressions to extract all the features, but because it needs to operate the full data, there will also be **Memory Error**

In [11]:
#regrex time
print("Time: ",re.findall(r'"time",\n\s*[\d]*[\.]?[\d]*',example_data))
#unfinished, regrex bid
print("Bid: ",re.findall(r'"bid",\n[\s]*\[[\]|\n\s*\[\n\s*]',example_data))

Time:  ['"time",\n    0.0', '"time",\n    0.016', '"time",\n    0.528']
Bid:  ['"bid",\n        []', '"bid",\n        []', '"bid",\n        [\n']

In [12]:
#Test regular expression
a = "123.4,0.5555566,7.85"
print(re.findall(r"[\d]+[\.]?[\d]*",a))

['123.4', '0.5555566', '7.85']

#### 1.2.1.2 Read a 1000000+ lines LOB file 
Here I would like to create a 1000000+ lines LOB subset to validate the reading method.

In [13]:
#!pip install json-stream

LOB_subset_01_04 = ""
with sm.open('s3://project-b-data/proj-b/dataset-b01/Tst2022-01-04LOBs.txt',
             "r",encoding='utf-8') as f:
    for i,line in enumerate(f):        
        LOB_subset_01_04 += line
        
        #56861
        if i == 1000021:
            break
            
    f.close()

#print(LOB_subset_01_04[-1000:-1])

Try to read in meta data chunk

In [14]:
%%time
LOB_subset_time = []
LOB_subset_bid = []
LOB_subset_ask = []
time_i = -10000
bid_i = -10000
ask_i = -10000
time_change_sign = False
bid_change_sign = False
ask_change_sign = False


for i,line in enumerate(LOB_subset_01_04.splitlines()):
    if i% 100000 == 0:
        print(f"This is {i//100000}th 100000 row")
    
    #Time
    if line.strip() == '"time",':
        time_i = i 
        time_change_sign = True
        continue        
    if i == (time_i +1) and time_change_sign == True:
        time_number = re.findall(r"[\d]+[\.]?[\d]*",line)[0]
        #print(f"Time Number {time_number} Appended")
        time_change_sign = False
        LOB_subset_time.append(time_number)
        continue
        
    
    
    #Bid
    if line.strip() == '"bid",':
        bid_i = i
        bid_change_sign = True
        bid_string = ""
        continue
    if i == (bid_i + 1) and line.strip() == "[]" and bid_change_sign == True:
        #print("Bid None Appended")
        bid_change_sign = False
        LOB_subset_bid.append(None)
        continue          
    if i == (bid_i + 1) and line.strip() == "[" and bid_change_sign == True:
        bid_string += line.strip()
        continue
    elif line.strip() != "]" and bid_change_sign == True:
        bid_string += line.strip()
        continue
    elif line.strip() == "]" and bid_change_sign == True:
        bid_string += "]]"
        LOB_subset_bid.append(ast.literal_eval(bid_string))
        #print(f"Bid {bid_string} Appended")
        bid_change_sign = False
        continue
            
    #Ask
    if line.strip() == '"ask",':
        ask_i = i
        ask_change_sign = True
        ask_string = ""
        continue       
    if i == (ask_i + 1) and line.strip() == "[]" and ask_change_sign == True:
        LOB_subset_ask.append(None)
        #print("Ask None Appended")
        ask_change_sign = False
        continue       
    if i == (ask_i + 1) and line.strip() == "[" and ask_change_sign == True:
        ask_string += line.strip()
        continue
    elif line.strip() != "]" and ask_change_sign == True:
        ask_string += line.strip()
        continue
    elif line.strip() == "]" and ask_change_sign == True:
        ask_string += "]]"
        LOB_subset_ask.append(ast.literal_eval(ask_string))
        #print(f"Ask {ask_string} Appended")
        ask_change_sign = False
        continue
        
        
        

        
#     if line == "]":
#         print("-------------------Next Meta Data--------------------")

    
LOB_subset_df = pd.DataFrame([LOB_subset_time,LOB_subset_bid,LOB_subset_ask]).T
LOB_subset_df = LOB_subset_df.rename(columns={0: 'Time', 1: 'Bid',2: 'Ask'})
LOB_subset_df.to_csv("1000021_LOB_01_04.csv")
print(LOB_subset_df)

This is 0th 100000 row
This is 1th 100000 row
This is 2th 100000 row
This is 3th 100000 row
This is 4th 100000 row
This is 5th 100000 row
This is 6th 100000 row
This is 7th 100000 row
This is 8th 100000 row
This is 9th 100000 row
This is 10th 100000 row
          Time                                                Bid  \
0          0.0                                               None
1        0.016                                               None
2        0.032                                               None
3        0.048                                               None
4        0.064                                               None
...        ...                                                ...
11184  178.944  [[177, 5], [157, 1], [140, 5], [112, 1], [36, 1]]
11185   178.96  [[177, 5], [157, 1], [140, 5], [112, 1], [36, 1]]
11186  178.976  [[177, 5], [157, 1], [140, 5], [112, 1], [36, 1]]
11187  178.992  [[177, 5], [157, 1], [140, 5], [112, 1], [36, 1]]
11188  179.008  [[177, 5], [157, 1], [140, 5], [112, 1], [36, 1]]

                                                     Ask
0                                                   None
1                                                   None
2                                                   None
3                                                   None
4                                                   None
...                                                  ...
11184  [[179, 8], [180, 3], [182, 2], [283, 4], [490,...
11185  [[179, 8], [180, 3], [182, 2], [283, 4], [490,...
11186  [[179, 8], [180, 3], [182, 2], [283, 4], [490,...
11187  [[179, 8], [180, 3], [182, 2], [283, 4], [490,...
11188  [[179, 8], [180, 3], [182, 2], [283, 4], [490,...

[11189 rows x 3 columns]
CPU times: user 3.47 s, sys: 64.2 ms, total: 3.53 s
Wall time: 3.53 s

### 1.2.2 Read the True LOB data
The format is like 's3://project-b-data/proj-b/dataset-b01/Tst2022-01-04LOBs.txt'

In [18]:
%%time
#160037467 lines
print(sum(1 for line in sm.open('s3://project-b-data/proj-b/dataset-b01/Tst2022-01-04LOBs.txt',"r",encoding='utf-8')))

160037467
CPU times: user 57.1 s, sys: 3.19 s, total: 1min
Wall time: 1min 4s

In [15]:
def Read_LOB_Improved(source):
    LOB_subset_time = []
    LOB_subset_bid = []
    LOB_subset_ask = []
    time_i = -10000
    bid_i = -10000
    ask_i = -10000
    time_change_sign = False
    bid_change_sign = False
    ask_change_sign = False
    
    with sm.open(source,"r",encoding='utf-8') as f:
        for i,line in enumerate(f):
            if i% 1000000 == 0:
                print(f"This is {i//1000000}th 1000000 row")
    
            #Time
            if line.strip() == '"time",':
                time_i = i 
                time_change_sign = True
                continue        
                
            if i == (time_i +1) and time_change_sign == True:
                time_number = re.findall(r"[\d]+[\.]?[\d]*",line)[0]
                #print(f"Time Number {time_number} Appended")
                time_change_sign = False
                LOB_subset_time.append(time_number)
                continue



            #Bid
            if line.strip() == '"bid",':
                bid_i = i
                bid_change_sign = True
                bid_string = ""
                continue
            if i == (bid_i + 1) and line.strip() == "[]" and bid_change_sign == True:
                #print("Bid None Appended")
                bid_change_sign = False
                LOB_subset_bid.append(None)
                continue          
            if i == (bid_i + 1) and line.strip() == "[" and bid_change_sign == True:
                bid_string += line.strip()
                continue
            elif line.strip() != "]" and bid_change_sign == True:
                bid_string += line.strip()
                continue
            elif line.strip() == "]" and bid_change_sign == True:
                bid_string += "]]"
                LOB_subset_bid.append(ast.literal_eval(bid_string))
                #print(f"Bid {bid_string} Appended")
                bid_change_sign = False
                continue

            #Ask
            if line.strip() == '"ask",':
                ask_i = i
                ask_change_sign = True
                ask_string = ""
                continue       
            if i == (ask_i + 1) and line.strip() == "[]" and ask_change_sign == True:
                LOB_subset_ask.append(None)
                #print("Ask None Appended")
                ask_change_sign = False
                continue       
            if i == (ask_i + 1) and line.strip() == "[" and ask_change_sign == True:
                ask_string += line.strip()
                continue
            elif line.strip() != "]" and ask_change_sign == True:
                ask_string += line.strip()
                continue
            elif line.strip() == "]" and ask_change_sign == True:
                ask_string += "]]"
                LOB_subset_ask.append(ast.literal_eval(ask_string))
                #print(f"Ask {ask_string} Appended")
                ask_change_sign = False
                continue
        f.close()
        
        return [LOB_subset_time,LOB_subset_bid,LOB_subset_ask]
        
def Create_LOB_df_Improved(df_element,the_date):
    
    
    LOB_df = pd.DataFrame(df_element).T
    LOB_df['Date'] = the_date
    
    LOB_df = LOB_df.rename(columns={0: 'Time', 1: 'Bid',2: 'Ask'})
    LOB_df.to_csv(f"LOB_csv/{the_date}-LOB.csv")
    
    return LOB_df

Now let's test the 's3://project-b-data/proj-b/dataset-b01/Tst2022-01-04LOBs.txt'

In [21]:
%%time
df_2022_01_04 = Create_LOB_df_Improved(Read_LOB_Improved(
    "s3://project-b-data/proj-b/dataset-b01/Tst2022-01-04LOBs.txt"),"2022-01-04")

This is 0th 1000000 row
This is 1th 1000000 row
This is 2th 1000000 row
This is 3th 1000000 row
This is 4th 1000000 row
This is 5th 1000000 row
This is 6th 1000000 row
This is 7th 1000000 row
This is 8th 1000000 row
This is 9th 1000000 row
This is 10th 1000000 row
This is 11th 1000000 row
This is 12th 1000000 row
This is 13th 1000000 row
This is 14th 1000000 row
This is 15th 1000000 row
This is 16th 1000000 row
This is 17th 1000000 row
This is 18th 1000000 row
This is 19th 1000000 row
This is 20th 1000000 row
This is 21th 1000000 row
This is 22th 1000000 row
This is 23th 1000000 row
This is 24th 1000000 row
This is 25th 1000000 row
This is 26th 1000000 row
This is 27th 1000000 row
This is 28th 1000000 row
This is 29th 1000000 row
This is 30th 1000000 row
This is 31th 1000000 row
This is 32th 1000000 row
This is 33th 1000000 row
This is 34th 1000000 row
This is 35th 1000000 row
This is 36th 1000000 row
This is 37th 1000000 row
This is 38th 1000000 row
This is 39th 1000000 row
This is 40th 1000000 row
This is 41th 1000000 row
This is 42th 1000000 row
This is 43th 1000000 row
This is 44th 1000000 row
This is 45th 1000000 row
This is 46th 1000000 row
This is 47th 1000000 row
This is 48th 1000000 row
This is 49th 1000000 row
This is 50th 1000000 row
This is 51th 1000000 row
This is 52th 1000000 row
This is 53th 1000000 row
This is 54th 1000000 row
This is 55th 1000000 row
This is 56th 1000000 row
This is 57th 1000000 row
This is 58th 1000000 row
This is 59th 1000000 row
This is 60th 1000000 row
This is 61th 1000000 row
This is 62th 1000000 row
This is 63th 1000000 row
This is 64th 1000000 row
This is 65th 1000000 row
This is 66th 1000000 row
This is 67th 1000000 row
This is 68th 1000000 row
This is 69th 1000000 row
This is 70th 1000000 row
This is 71th 1000000 row
This is 72th 1000000 row
This is 73th 1000000 row
This is 74th 1000000 row
This is 75th 1000000 row
This is 76th 1000000 row
This is 77th 1000000 row
This is 78th 1000000 row
This is 79th 1000000 row
This is 80th 1000000 row
This is 81th 1000000 row
This is 82th 1000000 row
This is 83th 1000000 row
This is 84th 1000000 row
This is 85th 1000000 row
This is 86th 1000000 row
This is 87th 1000000 row
This is 88th 1000000 row
This is 89th 1000000 row
This is 90th 1000000 row
This is 91th 1000000 row
This is 92th 1000000 row
This is 93th 1000000 row
This is 94th 1000000 row
This is 95th 1000000 row
This is 96th 1000000 row
This is 97th 1000000 row
This is 98th 1000000 row
This is 99th 1000000 row
This is 100th 1000000 row
This is 101th 1000000 row
This is 102th 1000000 row
This is 103th 1000000 row
This is 104th 1000000 row
This is 105th 1000000 row
This is 106th 1000000 row
This is 107th 1000000 row
This is 108th 1000000 row
This is 109th 1000000 row
This is 110th 1000000 row
This is 111th 1000000 row
This is 112th 1000000 row
This is 113th 1000000 row
This is 114th 1000000 row
This is 115th 1000000 row
This is 116th 1000000 row
This is 117th 1000000 row
This is 118th 1000000 row
This is 119th 1000000 row
This is 120th 1000000 row
This is 121th 1000000 row
This is 122th 1000000 row
This is 123th 1000000 row
This is 124th 1000000 row
This is 125th 1000000 row
This is 126th 1000000 row
This is 127th 1000000 row
This is 128th 1000000 row
This is 129th 1000000 row
This is 130th 1000000 row
This is 131th 1000000 row
This is 132th 1000000 row
This is 133th 1000000 row
This is 134th 1000000 row
This is 135th 1000000 row
This is 136th 1000000 row
This is 137th 1000000 row
This is 138th 1000000 row
This is 139th 1000000 row
This is 140th 1000000 row
This is 141th 1000000 row
This is 142th 1000000 row
This is 143th 1000000 row
This is 144th 1000000 row
This is 145th 1000000 row
This is 146th 1000000 row
This is 147th 1000000 row
This is 148th 1000000 row
This is 149th 1000000 row
This is 150th 1000000 row
This is 151th 1000000 row
This is 152th 1000000 row
This is 153th 1000000 row
This is 154th 1000000 row
This is 155th 1000000 row
This is 156th 1000000 row
This is 157th 1000000 row
This is 158th 1000000 row
This is 159th 1000000 row
This is 160th 1000000 row
CPU times: user 9min 47s, sys: 10.4 s, total: 9min 57s
Wall time: 10min 8s

In [28]:
%%time
pd.read_csv("LOB_csv/2022-01-04-LOB.csv")

CPU times: user 2.26 s, sys: 195 ms, total: 2.46 s
Wall time: 2.46 s

,Unnamed: 0,Time,Bid,Ask,Date
0,0,0.000,NaN,NaN,2022-01-04
1,1,0.016,NaN,NaN,2022-01-04
2,2,0.032,NaN,NaN,2022-01-04
3,3,0.048,NaN,NaN,2022-01-04
4,4,0.064,NaN,NaN,2022-01-04
...,...,...,...,...,...
1912495,1912495,30599.920,"[[220, 4], [211, 1], [175, 4], [170, 5], [161,...","[[236, 2], [411, 5], [436, 1], [659, 1], [725,...",2022-01-04
1912496,1912496,30599.936,"[[220, 4], [211, 1], [175, 4], [170, 5], [161,...","[[236, 2], [411, 5], [436, 1], [659, 1], [725,...",2022-01-04
1912497,1912497,30599.952,"[[220, 4], [211, 1], [175, 4], [170, 5], [161,...","[[236, 2], [411, 5], [436, 1], [659, 1], [725,...",2022-01-04
1912498,1912498,30599.968,"[[220, 4], [211, 1], [175, 4], [170, 5], [161,...","[[236, 2], [411, 5], [436, 1], [611, 1], [725,...",2022-01-04
1912499,1912499,30599.984,"[[220, 4], [211, 1], [175, 4], [170, 5], [161,...","[[236, 2], [411, 5], [436, 1], [611, 1], [725,...",2022-01-04

In [16]:
exact_date.remove('2022-01-04','2022-01-05','2022-01-06','2022-01-07')
exact_date

['2022-01-05',
 '2022-01-06',
 '2022-01-07',
 '2022-01-08',
 '2022-01-09',
 '2022-01-10',
 '2022-01-11',
 '2022-01-12',
 '2022-01-13',
 '2022-01-14',
 '2022-01-15',
 '2022-01-16',
 '2022-01-17',
 '2022-01-18',
 '2022-01-19',
 '2022-01-20',
 '2022-01-21',
 '2022-01-22',
 '2022-01-23',
 '2022-01-24',
 '2022-01-25',
 '2022-01-26',
 '2022-01-27',
 '2022-01-28',
 '2022-01-29',
 '2022-01-30',
 '2022-01-31',
 '2022-02-01',
 '2022-02-02',
 '2022-02-03',
 '2022-02-04',
 '2022-02-05',
 '2022-02-06',
 '2022-02-07',
 '2022-02-08',
 '2022-02-09',
 '2022-02-10',
 '2022-02-11',
 '2022-02-12',
 '2022-02-13',
 '2022-02-14',
 '2022-02-15',
 '2022-02-16',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-20',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-04',
 '2022-04-05',
 '2022-04-06',
 '2022-04-07',
 '2022-04-08',
 '2022-04-09',
 '2022-04-10',
 '2022-04-11',
 '2022-04-12',
 '2022-04-13',
 '2022-04-14',
 '2022-04-15',
 '2022-04-16',
 '2022-04-17',
 '2022-04-18',
 '2022-04-19',
 '2022-04-20',
 '2022-04-21',
 '2022-04-22',
 '2022-04-23',
 '2022-04-24',
 '2022-04-25',
 '2022-04-26',
 '2022-04-27',
 '2022-04-28',
 '2022-04-29']

In [ ]:
%%time
#"s3://project-b-data/proj-b/dataset-b01/Tst2022-01-04LOBs.txt" format
for the_date in exact_date:
    t1 = time.time()
    LOB_from_s3 = 's3://{}/{}'.format(bucket,subfolder+'/Tst'+the_date+'LOBs.txt')
    

    try:
        print(f"Start Read {the_date} LOB file.")
        Create_LOB_df_Improved(Read_LOB_Improved(LOB_from_s3),the_date)
    except:
        print(f"There is no {the_date} LOB file.")
        continue
        
    t2 = time.time()
    print('The {} is finished. Elapsed time is {} seconds.'.format(the_date,t2-t1))

Start Read 2022-01-05 LOB file.
This is 0th 1000000 row
This is 1th 1000000 row
This is 2th 1000000 row
This is 3th 1000000 row
This is 4th 1000000 row
This is 5th 1000000 row
This is 6th 1000000 row
This is 7th 1000000 row
This is 8th 1000000 row
This is 9th 1000000 row
This is 10th 1000000 row
This is 11th 1000000 row
This is 12th 1000000 row
This is 13th 1000000 row
This is 14th 1000000 row
This is 15th 1000000 row
This is 16th 1000000 row
This is 17th 1000000 row
This is 18th 1000000 row
This is 19th 1000000 row
This is 20th 1000000 row
This is 21th 1000000 row
This is 22th 1000000 row
This is 23th 1000000 row
This is 24th 1000000 row
This is 25th 1000000 row
This is 26th 1000000 row
This is 27th 1000000 row
This is 28th 1000000 row
This is 29th 1000000 row
This is 30th 1000000 row
This is 31th 1000000 row
This is 32th 1000000 row
This is 33th 1000000 row
This is 34th 1000000 row
This is 35th 1000000 row
This is 36th 1000000 row
This is 37th 1000000 row
This is 38th 1000000 row
This is 39th 1000000 row
This is 40th 1000000 row
This is 41th 1000000 row
This is 42th 1000000 row
This is 43th 1000000 row
This is 44th 1000000 row
This is 45th 1000000 row
This is 46th 1000000 row
This is 47th 1000000 row
This is 48th 1000000 row
This is 49th 1000000 row
This is 50th 1000000 row
This is 51th 1000000 row
This is 52th 1000000 row
This is 53th 1000000 row
This is 54th 1000000 row
This is 55th 1000000 row
This is 56th 1000000 row
This is 57th 1000000 row
This is 58th 1000000 row
This is 59th 1000000 row
This is 60th 1000000 row
This is 61th 1000000 row
This is 62th 1000000 row
This is 63th 1000000 row
This is 64th 1000000 row
This is 65th 1000000 row
This is 66th 1000000 row
This is 67th 1000000 row
This is 68th 1000000 row
This is 69th 1000000 row
This is 70th 1000000 row
This is 71th 1000000 row
This is 72th 1000000 row
This is 73th 1000000 row
This is 74th 1000000 row
This is 75th 1000000 row
This is 76th 1000000 row
This is 77th 1000000 row
This is 78th 1000000 row
This is 79th 1000000 row
This is 80th 1000000 row
This is 81th 1000000 row
This is 82th 1000000 row
This is 83th 1000000 row
This is 84th 1000000 row
This is 85th 1000000 row
This is 86th 1000000 row
This is 87th 1000000 row
This is 88th 1000000 row
This is 89th 1000000 row
This is 90th 1000000 row
This is 91th 1000000 row
This is 92th 1000000 row
This is 93th 1000000 row
This is 94th 1000000 row
This is 95th 1000000 row
This is 96th 1000000 row
This is 97th 1000000 row
This is 98th 1000000 row
This is 99th 1000000 row
This is 100th 1000000 row
This is 101th 1000000 row
This is 102th 1000000 row
This is 103th 1000000 row
This is 104th 1000000 row
This is 105th 1000000 row
This is 106th 1000000 row
This is 107th 1000000 row
This is 108th 1000000 row
This is 109th 1000000 row
This is 110th 1000000 row
This is 111th 1000000 row
This is 112th 1000000 row
This is 113th 1000000 row
This is 114th 1000000 row
This is 115th 1000000 row
This is 116th 1000000 row
This is 117th 1000000 row
This is 118th 1000000 row
This is 119th 1000000 row
This is 120th 1000000 row
This is 121th 1000000 row
This is 122th 1000000 row
This is 123th 1000000 row
This is 124th 1000000 row
This is 125th 1000000 row
This is 126th 1000000 row
This is 127th 1000000 row
This is 128th 1000000 row
This is 129th 1000000 row
This is 130th 1000000 row
This is 131th 1000000 row
This is 132th 1000000 row
This is 133th 1000000 row
This is 134th 1000000 row
This is 135th 1000000 row
This is 136th 1000000 row
This is 137th 1000000 row
This is 138th 1000000 row
This is 139th 1000000 row
This is 140th 1000000 row
This is 141th 1000000 row
This is 142th 1000000 row
This is 143th 1000000 row
This is 144th 1000000 row
This is 145th 1000000 row
This is 146th 1000000 row
This is 147th 1000000 row
This is 148th 1000000 row
This is 149th 1000000 row
This is 150th 1000000 row
This is 151th 1000000 row
This is 152th 1000000 row
This is 153th 1000000 row
This is 154th 1000000 row
This is 155th 1000000 row
This is 156th 1000000 row
This is 157th 1000000 row
This is 158th 1000000 row
This is 159th 1000000 row
This is 160th 1000000 row
The 2022-01-05 is finished. Elapsed time is 608.7930779457092 seconds.
Start Read 2022-01-06 LOB file.
This is 0th 1000000 row
This is 1th 1000000 row
This is 2th 1000000 row
This is 3th 1000000 row
This is 4th 1000000 row
This is 5th 1000000 row
This is 6th 1000000 row
This is 7th 1000000 row
This is 8th 1000000 row
This is 9th 1000000 row
This is 10th 1000000 row
This is 11th 1000000 row
This is 12th 1000000 row
This is 13th 1000000 row
This is 14th 1000000 row
This is 15th 1000000 row
This is 16th 1000000 row
This is 17th 1000000 row
This is 18th 1000000 row
This is 19th 1000000 row
This is 20th 1000000 row
This is 21th 1000000 row
This is 22th 1000000 row
This is 23th 1000000 row
This is 24th 1000000 row
This is 25th 1000000 row
This is 26th 1000000 row
This is 27th 1000000 row
This is 28th 1000000 row
This is 29th 1000000 row
This is 30th 1000000 row
This is 31th 1000000 row
This is 32th 1000000 row
This is 33th 1000000 row
This is 34th 1000000 row
This is 35th 1000000 row
This is 36th 1000000 row
This is 37th 1000000 row
This is 38th 1000000 row
This is 39th 1000000 row
This is 40th 1000000 row
This is 41th 1000000 row
This is 42th 1000000 row
This is 43th 1000000 row
This is 44th 1000000 row
This is 45th 1000000 row
This is 46th 1000000 row
This is 47th 1000000 row
This is 48th 1000000 row
This is 49th 1000000 row
This is 50th 1000000 row
This is 51th 1000000 row
This is 52th 1000000 row
This is 53th 1000000 row
This is 54th 1000000 row
This is 55th 1000000 row
This is 56th 1000000 row
This is 57th 1000000 row
This is 58th 1000000 row
This is 59th 1000000 row
This is 60th 1000000 row
This is 61th 1000000 row
This is 62th 1000000 row
This is 63th 1000000 row
This is 64th 1000000 row
This is 65th 1000000 row
This is 66th 1000000 row
This is 67th 1000000 row
This is 68th 1000000 row
This is 69th 1000000 row
This is 70th 1000000 row
This is 71th 1000000 row
This is 72th 1000000 row
This is 73th 1000000 row
This is 74th 1000000 row
This is 75th 1000000 row
This is 76th 1000000 row
This is 77th 1000000 row
This is 78th 1000000 row
This is 79th 1000000 row
This is 80th 1000000 row
This is 81th 1000000 row
This is 82th 1000000 row
This is 83th 1000000 row
This is 84th 1000000 row
This is 85th 1000000 row
This is 86th 1000000 row
This is 87th 1000000 row
This is 88th 1000000 row
This is 89th 1000000 row
This is 90th 1000000 row
This is 91th 1000000 row
This is 92th 1000000 row
This is 93th 1000000 row
This is 94th 1000000 row
This is 95th 1000000 row
This is 96th 1000000 row
This is 97th 1000000 row
This is 98th 1000000 row
This is 99th 1000000 row
This is 100th 1000000 row
This is 101th 1000000 row
This is 102th 1000000 row
This is 103th 1000000 row
This is 104th 1000000 row
This is 105th 1000000 row
This is 106th 1000000 row
This is 107th 1000000 row
This is 108th 1000000 row
This is 109th 1000000 row
This is 110th 1000000 row
This is 111th 1000000 row
This is 112th 1000000 row
This is 113th 1000000 row
This is 114th 1000000 row
This is 115th 1000000 row
This is 116th 1000000 row
This is 117th 1000000 row
This is 118th 1000000 row
This is 119th 1000000 row
This is 120th 1000000 row
This is 121th 1000000 row
This is 122th 1000000 row
This is 123th 1000000 row
This is 124th 1000000 row
This is 125th 1000000 row
This is 126th 1000000 row
This is 127th 1000000 row
This is 128th 1000000 row
This is 129th 1000000 row
This is 130th 1000000 row
This is 131th 1000000 row
This is 132th 1000000 row
This is 133th 1000000 row
This is 134th 1000000 row
This is 135th 1000000 row
This is 136th 1000000 row
This is 137th 1000000 row
This is 138th 1000000 row
This is 139th 1000000 row
This is 140th 1000000 row
This is 141th 1000000 row
This is 142th 1000000 row
This is 143th 1000000 row
This is 144th 1000000 row
This is 145th 1000000 row
This is 146th 1000000 row
This is 147th 1000000 row
This is 148th 1000000 row
This is 149th 1000000 row
This is 150th 1000000 row
This is 151th 1000000 row
This is 152th 1000000 row
This is 153th 1000000 row
This is 154th 1000000 row
This is 155th 1000000 row
This is 156th 1000000 row
This is 157th 1000000 row
This is 158th 1000000 row
This is 159th 1000000 row
The 2022-01-06 is finished. Elapsed time is 602.4996235370636 seconds.
Start Read 2022-01-07 LOB file.
This is 0th 1000000 row
This is 1th 1000000 row
This is 2th 1000000 row
This is 3th 1000000 row
This is 4th 1000000 row
This is 5th 1000000 row
This is 6th 1000000 row
This is 7th 1000000 row
This is 8th 1000000 row
This is 9th 1000000 row
This is 10th 1000000 row
This is 11th 1000000 row
This is 12th 1000000 row
This is 13th 1000000 row
This is 14th 1000000 row
This is 15th 1000000 row
This is 16th 1000000 row
This is 17th 1000000 row
This is 18th 1000000 row
This is 19th 1000000 row
This is 20th 1000000 row
This is 21th 1000000 row
This is 22th 1000000 row
This is 23th 1000000 row
This is 24th 1000000 row
This is 25th 1000000 row
This is 26th 1000000 row
This is 27th 1000000 row
This is 28th 1000000 row
This is 29th 1000000 row
This is 30th 1000000 row
This is 31th 1000000 row
This is 32th 1000000 row
This is 33th 1000000 row
This is 34th 1000000 row
This is 35th 1000000 row
This is 36th 1000000 row
This is 37th 1000000 row
This is 38th 1000000 row
This is 39th 1000000 row
This is 40th 1000000 row
This is 41th 1000000 row
This is 42th 1000000 row
This is 43th 1000000 row
This is 44th 1000000 row
This is 45th 1000000 row
This is 46th 1000000 row
This is 47th 1000000 row
This is 48th 1000000 row
This is 49th 1000000 row
This is 50th 1000000 row
This is 51th 1000000 row
This is 52th 1000000 row
This is 53th 1000000 row
This is 54th 1000000 row
This is 55th 1000000 row
This is 56th 1000000 row
This is 57th 1000000 row
This is 58th 1000000 row
This is 59th 1000000 row
This is 60th 1000000 row
This is 61th 1000000 row
This is 62th 1000000 row
This is 63th 1000000 row
This is 64th 1000000 row
This is 65th 1000000 row
This is 66th 1000000 row
This is 67th 1000000 row
This is 68th 1000000 row
This is 69th 1000000 row
This is 70th 1000000 row
This is 71th 1000000 row
This is 72th 1000000 row
This is 73th 1000000 row
This is 74th 1000000 row
This is 75th 1000000 row
This is 76th 1000000 row
This is 77th 1000000 row
This is 78th 1000000 row
This is 79th 1000000 row
This is 80th 1000000 row
This is 81th 1000000 row
This is 82th 1000000 row
This is 83th 1000000 row
This is 84th 1000000 row
This is 85th 1000000 row
This is 86th 1000000 row
This is 87th 1000000 row
This is 88th 1000000 row
This is 89th 1000000 row
This is 90th 1000000 row
This is 91th 1000000 row
This is 92th 1000000 row
This is 93th 1000000 row
This is 94th 1000000 row
This is 95th 1000000 row
This is 96th 1000000 row
This is 97th 1000000 row
This is 98th 1000000 row
This is 99th 1000000 row
This is 100th 1000000 row
This is 101th 1000000 row
This is 102th 1000000 row
This is 103th 1000000 row
This is 104th 1000000 row
This is 105th 1000000 row
This is 106th 1000000 row
This is 107th 1000000 row
This is 108th 1000000 row
This is 109th 1000000 row
This is 110th 1000000 row
This is 111th 1000000 row
This is 112th 1000000 row
This is 113th 1000000 row
This is 114th 1000000 row
This is 115th 1000000 row
This is 116th 1000000 row
This is 117th 1000000 row
This is 118th 1000000 row
This is 119th 1000000 row
This is 120th 1000000 row
This is 121th 1000000 row
This is 122th 1000000 row
This is 123th 1000000 row
This is 124th 1000000 row
This is 125th 1000000 row
This is 126th 1000000 row
This is 127th 1000000 row
This is 128th 1000000 row
This is 129th 1000000 row
This is 130th 1000000 row
This is 131th 1000000 row
This is 132th 1000000 row
This is 133th 1000000 row
This is 134th 1000000 row
This is 135th 1000000 row
This is 136th 1000000 row
This is 137th 1000000 row
This is 138th 1000000 row
This is 139th 1000000 row
This is 140th 1000000 row
This is 141th 1000000 row
This is 142th 1000000 row
This is 143th 1000000 row
This is 144th 1000000 row
This is 145th 1000000 row
This is 146th 1000000 row
This is 147th 1000000 row
This is 148th 1000000 row
This is 149th 1000000 row
This is 150th 1000000 row
This is 151th 1000000 row
This is 152th 1000000 row
This is 153th 1000000 row
This is 154th 1000000 row
This is 155th 1000000 row
This is 156th 1000000 row
This is 157th 1000000 row
This is 158th 1000000 row
This is 159th 1000000 row
The 2022-01-07 is finished. Elapsed time is 609.4008111953735 seconds.
Start Read 2022-01-08 LOB file.
There is no 2022-01-08 LOB file.
Start Read 2022-01-09 LOB file.
There is no 2022-01-09 LOB file.
Start Read 2022-01-10 LOB file.
This is 0th 1000000 row
This is 1th 1000000 row
This is 2th 1000000 row
This is 3th 1000000 row
This is 4th 1000000 row
This is 5th 1000000 row
This is 6th 1000000 row
This is 7th 1000000 row
This is 8th 1000000 row
This is 9th 1000000 row
This is 10th 1000000 row
This is 11th 1000000 row
This is 12th 1000000 row
This is 13th 1000000 row
This is 14th 1000000 row
This is 15th 1000000 row
This is 16th 1000000 row
This is 17th 1000000 row
This is 18th 1000000 row
This is 19th 1000000 row
There is no 2022-01-10 LOB file.
Start Read 2022-01-11 LOB file.
This is 0th 1000000 row
This is 1th 1000000 row
This is 2th 1000000 row
This is 3th 1000000 row
This is 4th 1000000 row
This is 5th 1000000 row
This is 6th 1000000 row
This is 7th 1000000 row
This is 8th 1000000 row
This is 9th 1000000 row
This is 10th 1000000 row
This is 11th 1000000 row
This is 12th 1000000 row
This is 13th 1000000 row
This is 14th 1000000 row
This is 15th 1000000 row
This is 16th 1000000 row
This is 17th 1000000 row
This is 18th 1000000 row
This is 19th 1000000 row

# 2. Exploratory Data Analysis

In [89]:
print(full_csv_frame[7])

0         'price': 203
1         'price': 199
2         'price': 196
3         'price': 196
4         'price': 201
             ...
64888     'price': 134
64889     'price': 134
64890     'price': 134
64891     'price': 134
64892     'price': 133
Name: 7, Length: 5230364, dtype: object